{% extends "front_log/re_default_page.html" %}
{% load static %}
{% block motduchef %}
{% endblock %}
{% block title %}
    Actualite
{% endblock %}
{% block carousel %}

{% block jssor_script %}

{% endblock %}

{% endblock %}
{% block left_content %}
    <h1>Informations</h1>
    <hr>
    {% for actu in infos %}
         <h2>
                    <a href="#">{{ actu.titre }}</a>
                </h2>

                <p><span class="glyphicon glyphicon-calendar"></span> posté le  {{ actu.date }} |
                    <span class="glyphicon glyphicon-eye-open"></span> {{ actu.vue }} vue{{ actu.vue|pluralize }}
                </p>
                <hr>
                <img class="img-responsive" src="{% static "img/dgi.png" %}" alt="">
                <hr>
                <p>{{ actu.contenu|truncatewords:20 }}
                <a class="btn btn-primary" href="{% url "detail_information" actu.slug  %}">Lire la suite <span class="glyphicon glyphicon-chevron-right"></span></a>
                </p>
                <hr>
    {% endfor %}
{% endblock %}