{% extends "front_log/re_default_page.html" %}
{% load static %}
{% block motduchef %}
{% endblock %}
{% block title %}
    Publications
{% endblock %}
{% block carousel %}
{% endblock %}
{% block left_content %}
    <h1>Laboratoires</h1>
    <hr>
    {% for lab in labos %}
        <h4>  <a href="#">{{ lab.libelle }} | {{ lab.code }}</a></h4>
         <div class="post_commentbox">
            <span ><i class="fa fa-user"></i> Directeur :
                <a href="{% url "profil_agent" lab.chef.slug %}">
                        {{ lab.chef.compte.first_name }}
                        {{ lab.chef.compte.last_name }}
                </a>
            </span>

        </div>
        <div class="single_page_content" >
            <p>{{ lab.description }}</p>
        </div>

    {% endfor %}
{% endblock %}